---
import CardLaunch from "./CardLaunch.astro"
import { getLaunches } from "../services/getLaunches"

const launches = await getLaunches()

console.log(launches)
---
<div class="mainConteiner">
    {launches.map((launch) => 
     <CardLaunch 
            id = {launch.id}
            name = {launch.name}
            img = {launch.links.patch.small}
            detail = {launch.details}
            success = {launch.success}
            flightNumber = {launch.flight_number}/>
    )
    }
</div>

<style>
    .mainConteiner{
        margin: 0 30px;
        padding: 5px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
</style>